@import '../../assets/styles/vars.scss';
.Menu {
  background-color: rgba($blue, .9);
  z-index: 2;
  width: 70%;
  color: white;
  position: absolute;
  top: 70px;
  bottom: 70px;
  animation: mymove .5s;
  right: 0;
  h1 {
    color: white;
  }
}
@keyframes mymove {
  from {
    top: 70px;
    bottom: 70px;
    right: 0;
    opacity: 0;
    width: 0%;
  }
  to {
    top: 70px;
    bottom: 70px;
    right: 0;
    width: 70%;
    opacity: 1;
  }
}